

<%= bootstrap_form_for :user do |s| %>
<div class="orange modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-white-stay modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="red text-white modal-body">
  <%= s.text_field :email, placeholder: 'Email' %>
  <%= s.password_field :password, placeholder: 'Password' %>
  </div>
      <div class="orange modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
  <%= s.primary "Login" %>
  </div>
<% end %>
