.advertisement{
  background: #AAAAAA;
  min-height: 600px;
  padding: 0;
  padding-top: 230px;

  .text{
    margin-left: -100px;
    font-weight: bold;
    text-align: center;
    width: 150%;
    font-size: 50px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

}